@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

html, body {
  margin: 0;
  padding: 0;
  min-width: 320px;
  height: 100vh;
  overflow: auto;
  background: transparent;
}

#app {
  padding: 0;
  background: transparent;
  height: 100vh;
  min-height: 100vh;
  overflow: auto;
}

